@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
/*    min-height: 2000px;*/
    font-family: 'Lato';
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
.background{
    position: fixed;
    z-index: -10;
    background-color: #002632;
    background-image: url('features-s.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
}
::-webkit-input-placeholder{
    color: #fff;
}
.container{
    padding: 5rem 1rem;
    text-align: center;
}
@media(min-width: 1100px){
.container{
        padding: 8rem 4rem
}
    }
.header{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    padding: 1rem;
    background: #fff;
    
    position: -webkit-sticky;
    
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
@media(min-width: 1100px){
.header{
        height: 90px;
        padding: 1.5rem;
        display: grid;
        grid-template-columns: 1.5fr 1fr 2fr
}
    }
.header__links-large{
        display: none;
        cursor: pointer;
    }
.header__links-large li{
            display: inline-block;
            padding: 1.5rem;
            padding-top: 0.5rem;
            cursor: auto;
        }
.header__links-large li a{
                font-weight: 700;
                color: #111;
            }
.header__links-large a:hover{
            color: #01CCBD;
        }
@media(min-width: 1100px){
.header__links-large{
            display: block
    }
    }
.header__link{
        font-size: 0.8rem;
        cursor: pointer;
    }
@media(min-width: 1100px){
.header__link{
            display: none
    }
    }
.showcase{
    position: relative;
}
.showcase__2,.showcase__3{
        display: none;
    }
.showcase__title{
        width: 100%;
        display: grid;
        grid-template-columns: .5fr 8fr .5fr;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: #fff;
    }
.showcase__title i{
            font-size: 1.8rem;
            align-self: center;
        }
@media(min-width: 1100px){
.showcase__title i{
                font-size: 3rem
        }
    }
.showcase__title i:hover{
            cursor: pointer;
            color: #50A2D4;
        }
.about-us{
    background: #fff;
    
}
@media(min-width: 1100px){
.about-us{
        background-image: url('about.jpg');
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr 1fr
    
}
    }
.about-us__title h2{
            font-size: 1.5rem;
            font-weight: 300;
            color: #444;
        }
@media(min-width: 1100px){
.about-us__title h2{
                font-size: 1.7rem
        }
    }
.about-us__title p{
            height: 2.8rem;
            font-size: 2.8rem;
            font-weight: 800;
            color: #002632;
            margin-bottom: 0;
        }
@media(min-width: 1100px){
.about-us__title p{
                font-size: 3.1rem;   
                margin-bottom: 5px
        }
    }
.about-us__title p:last-child{
            margin-top: 0;
            margin-bottom: 2.5rem;
            color: #00CCBD;
        }
@media(min-width: 1100px){
.about-us__title p:last-child{
                font-size: 2.8rem
        }
    }
.about-us__content em{
            line-height: 1.8rem;
            font-size: 1.1rem;
            font-weight: 300;
            color: #aaa;
        }
@media(min-width: 1100px){
.about-us__content em{
                text-align: justify;    
                font-size: 1.3rem
        }
    }
.features{
/*    min-height: 1100px;*/
    text-align: left;
}
@media(min-width: 1100px){
.features{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 3rem
}
    }
.features__title h2{
            font-size: 1.5rem;
            font-weight: 300;
            color: #fff;
        }
.features__title p{
            height: 2.8rem;
            font-size: 2.8rem;
            font-weight: 800;
            color: #fff;
            margin-bottom: 0;
        }
.features__title p:last-child{
            margin-top: 0;
            margin-bottom: 2.5rem;
            color: #00CCBD;
        }
.features__content{
        color: #fff;
        line-height: 1.8rem;
        font-size: 1.1rem;
        margin-bottom: 2rem; 
    }
.features__1,.features__2,.features__3{
        margin-bottom: 2rem;
    }
.features__1 div,.features__2 div,.features__3 div{
            color: #00CCBD;
            font-size: 1.9rem;
            margin-bottom: 1.5rem;
        }
.features__1 div i,.features__2 div i,.features__3 div i{
                display: inline-block;
                margin-right: 0.6rem;
            }
.features__1 div h2,.features__2 div h2,.features__3 div h2{
                display: inline-block;
                font-size: 1.7rem;
            }
.features__1 p,.features__2 p,.features__3 p{
            text-align: justify;
            margin-left: 3rem;
            color: #fff;
        }
.features__2 div{
            color: #82CC33;
        }
.features__3 div{
            color: #D1C500;
        }
.categories{
    background: #fff;
}
.categories__title h2{
            font-size: 1.5rem;
            font-weight: 300;
/*            color: #fff;*/
        }
.categories__title p{
            height: 2.8rem;
            font-size: 2.8rem;
            font-weight: 800;
            color: #002632;
            margin-bottom: 3.5rem;
        }
@media(min-width: 1100px){
.categories__items{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 2rem
    }
    }
.categories__1 div,.categories__2 div,.categories__3 div,.categories__4 div{
            background: #eee;
            border: 2px outset #eee;
            border-right: 2px inset #eee;
            border-bottom: none;
        }
.categories__1 div:last-child,.categories__2 div:last-child,.categories__3 div:last-child,.categories__4 div:last-child{
            border: none;
            background: #002632;
            padding: 1.2rem 0;
            color: #00CCBD;
            margin-bottom: 1.5rem;
        }
.categories__1 div:last-child:hover,.categories__2 div:last-child:hover,.categories__3 div:last-child:hover,.categories__4 div:last-child:hover{
            background: #00CCBD;
            color: #fff;
            cursor: pointer;
            transition: all .5s;
        }
.footer{
    color: #fff;
    text-align: left;
}
@media(min-width: 1100px){
.footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 2rem;
        padding: 3rem 4rem
}
    }
.footer__logo{
        width: 80%;
        margin-bottom: 1.5rem;
    }
.footer p{
        line-height: 1.4rem;
        margin-bottom: 1.2rem;
    }
.footer h2{
        font-weight: 900;
        font-size: 2.2rem;
    }
.footer form{
        margin-top: 1.3rem;
    }
.footer form div{
            border: 1.5px solid #fff;
            padding: 0.8rem;
            border-radius: 3px;
            margin-bottom: .8rem;
        }
.footer form div i{
                margin-right: 0.8rem;
            }
.footer form div .fa-envelope{
                margin-right: 0.5rem;
            }
.footer form div span{
                display: inline-block;
                width: 90%;
            }
.footer form div span input,.footer form div span textarea{
                    font-size: 0.8rem;
                    border: none;
                    background: transparent;
                    color: #fff;
                    width: 100%;
                }
.footer form div span .ta{
                    font-size: 1.2rem;
                    resize: none;
                }
.footer form .div-ta{
            display: flex;
            flex-direction: row;
        }
.footer form button{
            margin: 1.1rem 0;
            padding: 1rem 3rem;
            border-radius: 3px;
            background: #474E61;
            border: none;
            color: #fff;
            border: 1px solid #474E61;
        }
.footer form button:hover{
            border: 1px solid #474E61;
            color: #474E61;
            background: transparent;
            transition: all .5s;
            cursor: pointer;
        }
.footer i{
        color: #50A2D4;
    }
.footer__contact h2{
            margin-bottom: 1.3rem;
        }
.footer__contact i{
            margin-right: 0.8rem;
            margin-top: 0.3rem;
        }
.footer__contact .fa-mobile{
            font-size: 1.5rem;
            margin-left: 0.2rem;
            margin-top: 0;
        }
.footer__contact div{
            display: grid;
            grid-template-columns: .2fr 5fr;
        }
footer{
    text-align: center;
    padding: 1.5rem;
    background: #002632;
    color: #aaa;
}

