@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
/*    min-height: 2000px;*/
    font-family: 'Lato';
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

img{
    width: 100%;
    height: auto;
    display: block;
}
.background{
    position: fixed;
    z-index: -10;
    background-color: #002632;
    background-image: url('features-s.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
}
::-webkit-input-placeholder{
    color: #fff;
}