.about-us{
    background: #fff;
    @mixin atLarge{
        background-image: url('about.jpg');
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__title{
        h2{
            font-size: 1.5rem;
            font-weight: 300;
            color: #444;
            @mixin atLarge{
                font-size: 1.7rem;    
            }
        }
        p{
            height: 2.8rem;
            font-size: 2.8rem;
            font-weight: 800;
            color: $mainBlue;
            margin-bottom: 0;
            @mixin atLarge{
                font-size: 3.1rem;   
                margin-bottom: 5px;
            }
        }
        p:last-child{
            margin-top: 0;
            margin-bottom: 2.5rem;
            color: $lightBlue;
            @mixin atLarge{
                font-size: 2.8rem;   
            }
        }
    }
    &__content{
        em{
            line-height: 1.8rem;
            font-size: 1.1rem;
            font-weight: 300;
            color: #aaa;
            @mixin atLarge{
                text-align: justify;    
                font-size: 1.3rem;
            }
        }
    }
    
}