.categories{
    background: #fff;
    &__title{
        h2{
            font-size: 1.5rem;
            font-weight: 300;
/*            color: #fff;*/
        }
        p{
            height: 2.8rem;
            font-size: 2.8rem;
            font-weight: 800;
            color: $mainBlue;
            margin-bottom: 3.5rem;
        }
    }
    &__items{
        @mixin atLarge{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 2rem;
        }
    }
    &__1,&__2,&__3,&__4{
        div{
            background: #eee;
            border: 2px outset #eee;
            border-right: 2px inset #eee;
            border-bottom: none;
        }
        div:last-child{
            border: none;
            background: $mainBlue;
            padding: 1.2rem 0;
            color: $lightBlue;
            margin-bottom: 1.5rem;
        }
        div:last-child:hover{
            background: $lightBlue;
            color: #fff;
            cursor: pointer;
            transition: all .5s;
        }
    }
}