.features{
/*    min-height: 1100px;*/
    text-align: left;
    @mixin atLarge{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 3rem;
    }
    &__title{
        h2{
            font-size: 1.5rem;
            font-weight: 300;
            color: #fff;
        }
        p{
            height: 2.8rem;
            font-size: 2.8rem;
            font-weight: 800;
            color: #fff;
            margin-bottom: 0;
        }
        p:last-child{
            margin-top: 0;
            margin-bottom: 2.5rem;
            color: $lightBlue;
        }
    }
    &__content{
        color: #fff;
        line-height: 1.8rem;
        font-size: 1.1rem;
        margin-bottom: 2rem; 
    }
    &__1,&__2,&__3{
        margin-bottom: 2rem;
        div{
            color: $lightBlue;
            font-size: 1.9rem;
            i{
                display: inline-block;
                margin-right: 0.6rem;
            }
            h2{
                display: inline-block;
                font-size: 1.7rem;
            }
            margin-bottom: 1.5rem;
        }
        p{
            text-align: justify;
            margin-left: 3rem;
            color: #fff;
        }
    }
    &__2{
        div{
            color: #82CC33;
        }
    }
    &__3{
        div{
            color: #D1C500;
        }
    }
}