.footer{
    color: #fff;
    text-align: left;
    @mixin atLarge{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 2rem;
        padding: 3rem 4rem;
    }
    &__logo{
        width: 80%;
        margin-bottom: 1.5rem;
    }
    p{
        line-height: 1.4rem;
        margin-bottom: 1.2rem;
    }
    h2{
        font-weight: 900;
        font-size: 2.2rem;
    }
    form{
        margin-top: 1.3rem;
        div{
            i{
                margin-right: 0.8rem;
            }
            .fa-envelope{
                margin-right: 0.5rem;
            }
            span{
                display: inline-block;
                width: 90%;
                input,textarea{
                    font-size: 0.8rem;
                    border: none;
                    background: transparent;
                    color: #fff;
                    width: 100%;
                }
                .ta{
                    font-size: 1.2rem;
                    resize: none;
                }
            }
            border: 1.5px solid #fff;
            padding: 0.8rem;
            border-radius: 3px;
            margin-bottom: .8rem;
        }
        .div-ta{
            display: flex;
            flex-direction: row;
        }
        button{
            margin: 1.1rem 0;
            padding: 1rem 3rem;
            border-radius: 3px;
            background: #474E61;
            border: none;
            color: #fff;
            border: 1px solid #474E61;
        }
        button:hover{
            border: 1px solid #474E61;
            color: #474E61;
            background: transparent;
            transition: all .5s;
            cursor: pointer;
        }
    }
    i{
        color: #50A2D4;
    }
    &__contact{
        h2{
            margin-bottom: 1.3rem;
        }
        i{
            margin-right: 0.8rem;
            margin-top: 0.3rem;
        }
        .fa-mobile{
            font-size: 1.5rem;
            margin-left: 0.2rem;
            margin-top: 0;
        }
        div{
            display: grid;
            grid-template-columns: .2fr 5fr;
        }
    }
}
footer{
    text-align: center;
    padding: 1.5rem;
    background: #002632;
    color: #aaa;
}