.header{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    padding: 1rem;
    background: #fff;
    
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    
    @mixin atLarge{
        height: 90px;
        padding: 1.5rem;
        display: grid;
        grid-template-columns: 1.5fr 1fr 2fr;
    }
    
    &__links-large{
        display: none;
        cursor: pointer;
        li{
            display: inline-block;
            padding: 1.5rem;
            padding-top: 0.5rem;
            cursor: auto;
            a{
                font-weight: 700;
                color: #111;
            }
        }
        a:hover{
            color: #01CCBD;
        }
        @mixin atLarge{
            display: block;
        }
    }
    &__link{
        font-size: 0.8rem;
        cursor: pointer;
        @mixin atLarge{
            display: none;
        }
    }
}