.showcase{
    position: relative;
    &__2,&__3{
        display: none;
    }
    
    &__title{
        width: 100%;
        display: grid;
        grid-template-columns: .5fr 8fr .5fr;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: #fff;
        i{
            font-size: 1.8rem;
            align-self: center;
            @mixin atLarge{
                font-size: 3rem;
            }
        }
        i:hover{
            cursor: pointer;
            color: #50A2D4;
        }
    }
}